@import '../../assets/styles/mixins';

.productListForm {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    &Add {
      @include button-shared;
    }

    &Cart {
      @include button-shared;
    }
}